body {
	font-family: system-ui, sans-serif;
	display: grid;
	grid-template-columns: 15dvw 1fr;
	min-height: 100dvh;
}

.flex {
	display: flex;
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.dialog {
	border-radius: .75rem;
	place-self: center;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}

.form {
	display: grid;
	justify-items: start;
	gap: 12px;
	margin-top: 16px;
}

.form__label {
	text-transform: uppercase;
	letter-spacing: .05em;
}

.form__input,
.form__select {
	display: block;
}

.form__button {
	margin-top: 12px;
}

.section {
	padding: 16px;
}

ul {
	padding-left: 16px;
}

li {
	list-style: none;
}

aside {
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 10;
}

.nav__button {
	width: 100%;
}

main {
	text-align: center;
	background-color: whitesmoke;
}

.container {
	max-width: 768px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
}

.header__button {
	position: absolute;
	right: 0;
}

.todos {
	margin-top: 36px;
	display: grid;
	justify-content: center;
	gap: 24px;
}

.todo {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: .25rem;
	padding: 16px;
	width: 500px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.todo__title {
	margin-right: auto;
}
