body {
	font-family: system-ui, sans-serif;
	display: grid;
	grid-template-columns: 15dvw 1fr;
	min-height: 100dvh;
}

.section {
	padding: 16px;
}

ul {
	padding-left: 16px;
}

li {
	list-style: none;
}

aside {
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
}

.nav__button {
	width: 100%;
}
