body {
  font-family: system-ui, sans-serif;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.dialog {
  border-radius: 0.75rem;
  place-self: center;
}

.dialog > div {
  display: flex;
  justify-content: space-between;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.form {
  display: grid;
  justify-items: start;
  gap: 12px;
  margin-top: 16px;
}

.form__label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.form__input,
.form__select {
  display: block;
}

.form__button {
  margin-top: 12px;
}

.aside,
.main {
  padding: 16px;
}

.projects div {
  display: flex;
  justify-content: space-between;
}

.list {
  padding: 0;
}

.list__item {
  list-style: none;
  display: flex;
}

.list__item:hover .nav__button--delete {
  display: block;
}

.nav__button {
  width: 100%;
  text-align: left;
}

.nav__button--delete {
  display: none;
  width: auto;
}

.main > div {
  max-width: 1280px;
  margin-inline: auto;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list {
  margin-top: 36px;
  display: grid;
  gap: 24px;
}

.todo-list__item {
  padding: 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.486);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__item--priority-low {
  border-left: 6px solid green;
}

.todo-list__item--priority-medium {
  border-left: 6px solid yellow;
}

.todo-list__item--priority-high {
  border-left: 6px solid red;
}

.todo-list__buttons {
  display: flex;
  gap: 12px;
}
